@use '../abstracts/variables' as *;
@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;

.breadcrumb {
  display: flex;
  align-items: center;
  gap: $space-2;
  font-size: $fs-sm;
  color: $color-text-muted;
  padding: $space-5 0 0;

  a {
    color: $color-text-secondary;
    transition: color $transition-fast;

    &:hover {
      color: $color-text-primary;
    }
  }

  span[aria-current='page'] {
    color: $color-text-primary;
    font-weight: $fw-medium;
  }
}